#wall
{
	font-family:"Arial Narrow";
	color:black;
	width: 600px;
}

#wall a
{
	color:black;
}

#notes
{
	background-color: #c06;
	 height: 40px;
	 -moz-border-radius:75px;
	 -webkit-border-radius: 75px;
	 width: 40px;
}

#note
{
	color:white;
	position:relative;
	top:10px;
	left:15px;
}

#note a
{
	color:white;
}

#desc
{
	width:500px;
	height: 450px;
	position: relative;
	left: 70px;
	top:20px;
	line-height: 40px;
	overflow: auto;
	background-image:url('./img/bg.jpg');
}

/*#desc p
{
	position: relative;
	left: -250px;
	width:800px;
}*/

#desc , #desc a
{
	/*background-color:blue;*/
	color:black;
	font-family:"Comic Sans MS";
}

#sidebar
{
	float:left;
	/*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #383282),color-stop(1, #484095));*/ 
	width:300px;
	height:600px;
	background-color:#808080;
}
#content
{
	margin-left:310px;
	position:relative;
	padding:5px;
	
}
#photoFrame
{
	text-align:center;
	position: relative;
	top: 20px;
}

#photo
{
	-webkit-border-radius:10px;
	-webkit-box-shadow: black 2px 2px 2px 2px;;
	border-style:solid;
	border-width:3px;
	border-color:white;
	background-color:black;
	color:blue;
	width:125px;
	height:150px;
}
#roundedbox
{
	-webkit-border-radius:10px;
	-webkit-box-shadow: Grey 2px 2px 2px;
	padding:3px;
	background-color:black;
	color:white;
	width:250px;
	position:relative;
	left: 30px;
	top: 30px;
}
#editbox
{
	-webkit-border-radius:10px;
	-webkit-box-shadow: Grey 2px 2px 2px;
	padding:3px;
	background-color:black;
	color:white;
	width:250px;
	height:100px;
	position:relative;
	left: 30px;
	top: 30px;
}
#buttons
{
	position:relative;
	left: 75px;
	top: 20px;
}

#button
{
	width: 50%;
	height:35px;
}
.linkbtn
{
	font-size:16px;
	border-style:solid;
	border-width:thin;
	border-color:white;
	display:block;
	text-align:center;
	color:white;
	background-color:black;
	text-decoration:none;
}
.linkbtn:hover
{
	text-decoration:none;
	color:black;
	background-color:white;
}

.scroll-pane
{
			height:500px;
			width :500px;
			overflow-y:auto;
			background:#fff;
			border:1px solid #D8DFEA;
			position: relative;
			left: 70px;
			top:30px;
}
.newupdate
{
			padding:15px 20px;
			display:block;
			line-height:20px;
			background-color: #fff;
			border-bottom:1px solid #F2F4F8;
			border-top:1px solid #D8DFEA;
}
.scroll-pane:first-child
{
	 border-top:none;
}
.scroll-pane:last-child
{
	 border-bottom:none;
}
.newupdate:hover{
   background:#ECEFF5;
   border-bottom-color:#ECEFF5;
}
#notifications-head
{
	display:block;
	background:#ECEFF5;
	border:1px solid #D8DFEA;
	width:490px;
	padding:5px;
	position: relative;
	left: 370px;
}